.view {
  position: absolute;
  bottom: 10px;
  left: 25px;
  background-color: #3d3d3d;
  border-radius: 0.2rem;
  padding: 0px 5px;
  font-size: 15px;
  font-weight: bold;
  color: azure;
}
.comment {
  position: absolute;
  bottom: 10px;
  right: 25px;
  background-color: #3d3d3d;
  border-radius: 0.2rem;
  padding: 0px 5px;
  font-size: 15px;
  font-weight: bold;
  color: azure;
}
// movie:
// background_image: "https://yts.mx/assets/images/movies/gap_year_2020/background.jpg"
// background_image_original: "https://yts.mx/assets/images/movies/gap_year_2020/background.jpg"
// date_uploaded: "2020-12-13 21:03:20"
// date_uploaded_unix: 1607889800
// description_full: ""
// description_intro: ""
// download_count: 40703
// genres: (2) ['Action', 'Drama']
// id: 24852
// imdb_code: "tt13153932"
// language: "en"
// large_cover_image: "https://yts.mx/assets/images/movies/gap_year_2020/large-cover.jpg"
// like_count: 1
// medium_cover_image: "https://yts.mx/assets/images/movies/gap_year_2020/medium-cover.jpg"
// mpa_rating: ""
// rating: 0
// runtime: 0
// slug: "gap-year-2021"
// small_cover_image: "https://yts.mx/assets/images/movies/gap_year_2020/small-cover.jpg"
// title: "Gap Year"
// title_english: "Gap Year"
// title_long: "Gap Year (2021)"
// torrents: (2) [{…}, {…}]
// url: "https://yts.mx/movies/gap-year-2021"
// year: 2021
// yt_trailer_code: "Y_GHBlUZbb8"
// [[Prototype]]: Object

