<header class="header">
  <div class="container" id="nav">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo">
          <a routerLink="home">
            <i class="fab fa-mix fa-2x"></i>
            <span class="font-weight-bold ff">ovie</span>
          </a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="header__nav">
          <nav class="header__menu mobile-menu">
            <ul>
              <li routerLinkActive="active"><a routerLink="home">HOME</a></li>
              <li routerLinkActive="active">
                <a routerLink="movies">MOVIE</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="header__right">
          <a href="#" class="search-switch"
            ><span class="icon_search"></span
          ></a>
          <a href="./login.html"><span class="icon_profile"></span></a>
        </div>
      </div>
    </div>
    <div id="mobile-menu-wrap"></div>
  </div>
</header>
