<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="mt-5" *ngIf="isLoading == true" style="height: 100vh">
        <app-preloader></app-preloader>
      </div>
      <div class="col-lg-8" *ngIf="isLoading == false">
        <div class="trending__product">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="section-title">
                <h4>NEW MOVIES</h4>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="btn__all">
                <a href="#" class="primary-btn" routerLink="movies"
                  >View All <span class="arrow_right"></span
                ></a>
              </div>
            </div>
          </div>
          <div class="row">
            <app-cardmovie
              *ngFor="let m of newMovies"
              class="col-lg-4 col-md-4 col-sm-4"
              [movies]="m"
            ></app-cardmovie>
          </div>
        </div>

        <div class="trending__product">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="section-title">
                <h4>TOP RATED</h4>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="btn__all">
                <a routerLink="movies" class="primary-btn"
                  >View All <span class="arrow_right"></span
                ></a>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="isLoading == false">
            <app-cardmovie
              *ngFor="let m of topRatedMovies"
              [movies]="m"
              class="col-lg-4 col-md-4 col-sm-4"
            ></app-cardmovie>
          </div>
        </div>
      </div>
      <app-sidebar
        *ngIf="isLoading == false"
        class="col-lg-4 col-md-6 col-sm-8"
      ></app-sidebar>
    </div>
  </div>
</section>
